html {

  color: $fontcolor;
  font-size: $fontsize;
  line-height: $lineheight;

  body {

    margin: 0;
    padding: 0;

    address,
    blockquote,
    center,
    dir,
    div,
    dl,
    fieldset,
    form,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    isindex,
    menu,
    noframes,
    noscript,
    ol,
    p,
    pre,
    table,
    ul {line-height: $lineheight;margin-bottom: $lineheight;margin-top: $lineheight;}

  }

}

::-moz-selection {
  @include selection();
}

::selection {
  @include selection();
}
