body.about {
  /* ==========================================================================
     Media Queries
     ========================================================================== */

  @media only screen and (min-width: 0px) {
    img {
      margin-top: 3em;
    }
}


@media only screen and (min-width: 768px) {
  img {
    margin-top: 0em;
  }
  p {
    font-size: 1.25em;
    line-height: $lineheight;
  }
}

@media only screen and (min-width: 960px) {



}

}
