body.home {
  /* ==========================================================================
     Media Queries
     ========================================================================== */

  @media only screen and (min-width: 0px) {
    img {
      width: 100%;
      margin-top: 3em;
    }
    p {
      font-size: 2em;
      line-height: $lineheight;
      font-family: $headerfont;
    }
}


@media only screen and (min-width: 768px) {
  img {
    margin-top: 0em;
  }
  p {
    font-size: 3.25em;
    line-height: $lineheight;
    font-family: $headerfont;
  }
}

@media only screen and (min-width: 960px) {
  p {
    font-size: 3.65em;
  }


}

}
