body.home {
  /* ==========================================================================
     Media Queries
     ========================================================================== */

  @media only screen and (min-width: 0px) {
    img {
      width: 100%;
    }
    .logo {
      span {
        display: block;
        position: relative;
        top: 15px;
        letter-spacing: 2px;
        color: $olive;
      }
    }
    p {
      font-size: 2em;
      line-height: $lineheight;
      font-family: $headerfont;
    }
}

@media only screen and (min-width: 768px) {
  p {
    font-size: 3.25em;
    line-height: $lineheight;
    font-family: $headerfont;
  }
nav {
    float: right;
    a {
      font-size: 1.5em;
    }
  }

}
}
