/*

!_DEV/
!db/

!public/
public/*
!public/wp-content/*
public/wp-content/plugins/*
public/wp-content/themes/*
!public/wp-content/themes/advProjBoiler

.*
~*

!Gruntfile.js
!package.json

!.gitignore
