// clrs.cc

$olive:  #535232;
$green:  #2ecc40;
$lime:   #01ff70;
$yellow: #ffdc00;
$orange: #ff851b;
$red:    #ff4136;
$fuchsia:#f012be;
$purple: #b10dc9;
$maroon: #85144b;
$white:  #fff;
$silver: #ddd;
$gray:   #aaa;
$black:  #111;

$fontsize: 1em;
$lineheight: $fontsize * 1.5;

$copyfont: 'Open Sans', sans-serif;
$headerfont: 'Cormorant Garamond', serif;

$fontcolor: $black;

@mixin selection() {
  background: $yellow;
  text-shadow: none;
}
