body {
  font-size: $fontsize;
  line-height: $lineheight;
  background-color: $white;

}

html body {
  width: 90%;
  margin: 0 auto;
  padding: 5%;
}

img {
  width: 100%;
}


  /* ==========================================================================
     Media Queries for .work-teaser, which pulls in work samples onto the homepage and work main page
     ========================================================================== */

  @media only screen and (min-width: 0px) {
    .work-teaser {
      width: 100%;
      padding-top: 2em;
    }
    p {
      font-size: 1em;
    }

}


@media only screen and (min-width: 768px) {
  p {
    font-size: 1em;
    line-height: $lineheight;
  }

}

@media only screen and (min-width: 960px) {

  .work-wrapper {
    clear: left;
  }

  .work-teaser {
    width: 45%;
    margin-right: 5%;
    margin-bottom: 5%;
    float: left;
  }

}
